
body {
  padding-top: constant(safe-area-inset-top); /* For iOS 11.0-11.2 */
  padding-top: env(safe-area-inset-top); /* For iOS 11.2+ */
}

.delete{
  max-width: 50px !important;
}


[type="text"]{
    touch-action: manipulation;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-scalable: no;
    -moz-user-scalable: no;
    -ms-user-scalable: no;
    user-scalable: no;
  }

 
